<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app">
<head>
	<base href="~/" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@*<link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />*@

	@Styles.Render("~/Content/style/css")
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/Content/vendor")
	@Scripts.Render("~/Content/app")
</body>
</html>
