<!DOCTYPE html>
<html lang="pt-br" data-ng-app="app">
<head>
	<base href="~/" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@*<link rel="shortcut icon" type="image/ico" href="~/favicon.ico" />*@

	@Styles.Render("~/bundles/styles")
</head>
<body>
	@RenderBody()

	@Scripts.Render("~/bundles/vendor")
	@Scripts.Render("~/bundles/app")
</body>
</html>
